# Database configurations
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=good_night_development
DB_USERNAME=postgres
DB_PASSWORD=password
DB_SSLMODE=disable

# Redis configurations
REDIS_HOST=localhost
REDIS_DB=0
REDIS_PORT=6380

# Service configurations
FEED_LIST_LIMIT=50
FEED_TTL_SECONDS=604800 # 7 days in seconds
SLEEP_RECORD_FANOUT_LIMIT=1000
SLEEP_RECORD_MIN_THRESHOLD=3
SLEEP_RECORD_MISSING_FRACTION=0.2
